﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ErrorPage.aspx.cs" Inherits="Sol_Asp_Events_Errors_Object.ErrorPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <h1>Error : 404. Page not found</h1>
                <h2>Click on HOME Page</h2>
               <link href="Default.aspx"> Default.aspx </link>
    </div>
    </form>
</body>
</html>
