﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UnderMaintainance.aspx.cs" Inherits="Sol_Asp_Events_Errors_Object.UnderMaintainance" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <h1>Error : Site Under Maintainance</h1>
                <h2>Click on HOME Page</h2>
               <a href="ErrorPage.aspx"> ErrorPage.aspx </a>
    </div>
    </form>
</body>
</html>
